<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Fuel Quote App</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['getQuote']" routerLinkActive="active">Quote Generator</a>
        </li>
        <li>
          <a [routerLink]="['quoteHistory']" routerLinkActive="active">Quote History</a>
        </li>
        <li><a [routerLink]="['user/profile']" routerLinkActive="active">Profile</a></li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['user/login']" routerLinkActive="active"> Login </a>
          </li>
        </ul>
      </div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['user/register']" routerLinkActive="active"> Register </a>
          </li>
        </ul>
      </div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <button type="button" class="btn btn-warning" style = "float:right" *ngIf="userLoggedIn">Log Out</button>
          </li>
        </ul>
      </div>        
    </div>
  </div>
</div>






