<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">Delivery Date</th>
                        <th class="column2">Gallons</th>
                        <th class="column3">Suggested Price</th>
                        <th class="column4">Total Amount Due</th>
                        <th class="column5">Address</th>
                    </tr>
                </thead>
                </table>
                <history-detail></history-detail>
            </div>
        </div>
    </div>
</div>