<div>
    <h1>Get Quote</h1>
    <hr />
    <div class="col-md-4">
      <form
        autocomplete="off"
        novalidate
      >    
                <div class="col-12">
                    <label style="margin-bottom:0px" for="gallons" class="form-label">Gallons Requested</label>
                    <input style="margin-bottom:10px" type="number" class="form-control" id="gallons" required>
                    
                    <label style="margin-bottom:0px" for="inputAddress" class="form-label">Address</label>
                    <input style="margin-bottom:10px" type="text" class="form-control" id="inputAddress" value="From your profile" rawvalue=-1 readonly>
                    
                    <label style="margin-bottom:0px" for="delivery-date">Delivery Date</label>
                    <input style="margin-bottom:0px" class="form-control" type="date" id="end_date" name="delivery-date"
                        value=""
                        min="20222-2-1" max="2030-12-31" required>
                    &nbsp;
                </div>
                
                <div class="col-12" style="margin-top:0px" >
                    <button type="button" class="btn btn-primary" >Get Quote</button>
                </div>
                
                <div class="col-12" style="margin-top:30px">
                    <label style="margin-bottom:0px" for="suggested" class="form-label">Suggested Price per Gallon</label>
                    <input style="margin-bottom:10px" type="text" class="form-control" id="suggested" value="Click 'Get Quote'" rawvalue=-1 readonly>
                    
                    <label style="margin-bottom:0px" for="total" class="form-label">Total Price</label>
                    <input style="margin-bottom:10px" type="text" class="form-control" id="total" value="Click 'Get Quote'" rawvalue=-1 readonly>

                    <button style="margin-top:10px" type="button" class="btn btn-primary" >Submit</button>
                </div>      
        </form>
    </div>
</div>